<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img style="height: 100px; width: 100px;" src="https://test.negbuy.com/media/negbuy_logo-removebg-preview.png" alt="home" />
    <br>
    <br>
    <h4>Hi Admin</h4>
    <br>
    <br>
    <p><b>{{first_name}}</b> gives there requirements.</p>
    <br>
    <pre>   Here are the personal information -- 
        <br>
                First Name : {{first_name}}
                Last Name : {{last_name}}
                Phone Number : {{phone}}
                Email-ID : {{email}}
                City : {{city}}
                State : {{state}}
                Country : {{country}}
                PINCODE : {{pincode}}
    </pre>
    <br>
    <hr>
    <br>
    <pre>   Here are the Requirement Details -- 
        <br>
                Requirement : {{requirements}}
                Quantity : {{quantity}}
                Target Price : {{price}}
                Expected Delivery Date : {{date}}
    </pre>
    <br>
    <br>
    <p><a href="https://negbuy.com/">Click here</a> to go to RFQ Verification Page to Accept/Reject RFQ</p>
</body>
</html>